body {
    background-color: #FCFAF3;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
    display: inline-block;
}

header {
    padding: 15px;
    background-color: #493B33;
}

header ul {
    float: right;
    color: white;
}

/* .navigation {
    width: 73%;
    padding: 1%;
    height: 20px;
}  */
/* 
/* nav ul {
    list-style-type: none;
    width: 50%;
    margin-left: auto;
} */

/* nav li {
    display: inline block;
} */

.heroImg {
    width: 600px;
    padding: 25px;
    transform: scale(.5);

}

.content {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FCFAF3;
    text-align: left;
}

footer {
    background-color: #493B33;
    padding: 10px;
    text-align: center;
}

footer ul{
    list-style: none;
    padding-left: 10px;
    text-align: center;
    color: white;
}

footer li {
    display: inline-block;
    padding: 0px 7px;
}